*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    /* background-color: black; */
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --bg-color: black;
    --primary-text-color: white;

    /* padding */
    --nav-padding: 15px 30px;
    --section-padding:15px 30px;
    --padding-s: 5px;
    --padding-m: 10px;
    --padding-l: 15px;
    --padding-xl: 20px;
    --padding-xxl: 30px;

    /* bg button */
    --bg-button-color: #3c3a3a;

    /* border-radius */
    --border-radius-s: 5px;
    --border-radius-m: 10px;
    --border-radius-l: 15px;

}
body{
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}

nav{
    padding: var(--nav-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    background-color: var(--bg-button-color);
    color: var(--primary-text-color);
    border: none;
    outline: none;
    padding: var(--padding-m) var(--padding-l);
    border-radius: var(--border-radius-s);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav button:hover{
    background-color: #5a5757;
    scale: 1.05;
}
